@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway";
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px;
  background-color: #ffffff;
  flex: var(--condiv-flex);
}
nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  text-decoration: none;
  background: linear-gradient(270deg, #00050d, #1b3140, #245e75, #1e91a9, #12c7d8);
    background-size: 75% 50%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
  
  
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 74%}
  50%{background-position:100% 27%}
  100%{background-position:0% 74%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 74%}
  50%{background-position:100% 27%}
  100%{background-position:0% 74%}
}
@keyframes AnimationName {
  0%{background-position:0% 74%}
  50%{background-position:100% 27%}
  100%{background-position:0% 74%}
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li {
  margin: 40px;
  text-decoration: none;
  color: white !important;
}
/* css for active class */
.active {
  font-weight: bolder;
}
.logo-skills {
  width: 50%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;


}

.list-skills
{
  list-style-type:circle;
  
}

.social {
  width: 50%;
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .social {
    justify-content: center;
  }
  .logo-skills {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .social {
    flex-flow: column wrap;
  }
  .logo-skills {
    flex-flow: column wrap;
  }
}
.typingeffect {
  font-size: 30px;
  font-weight: bold;
}

.profilepic {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.profilepic:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.subtopic {
  margin: 10px 10px 30px 10px !important;
}
p {
  font-size: var(--fontsize-p);
}
h1,
h2,
h3,
h4,
p {
  margin: 10px;
}

.widecard {
  border: 0px solid #9a9b9c;
  display: flex;
  margin: 30px 0px 30px 0px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.link-pomodo {
  float: right;
  text-decoration: none;
}
.link-education {
  text-decoration: none;
}
