@import url("https://fonts.googleapis.com/css2?family=Lato&family=Saira:wght@500&display=swap");

:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
h1 {
  font-family: "Saira", sans-serif;
}
/* .condiv class is for the right side content container*/
.condiv {
  background-color: #ffffff;
  margin: 10% 5% 10% 5%;
  width: 100vw;
  height: 100vh;
}
.condiv-home {
  margin: 10% 5% 10% 5%;
}
nav {
  padding: 60px 30px 0px 30px;
  display: flex;
  text-decoration: none;
  font-family: "Saira", sans-serif;
 
 background: linear-gradient(
    270deg,
    #00050d,
    #1b3140,
    #245e75,
    #1e91a9,
    #12c7d8
  );
  background-size: 75% 50%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 74%;
  }
  50% {
    background-position: 100% 27%;
  }
  100% {
    background-position: 0% 74%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 74%;
  }
  50% {
    background-position: 100% 27%;
  }
  100% {
    background-position: 0% 74%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 74%;
  }
  50% {
    background-position: 100% 27%;
  }
  100% {
    background-position: 0% 74%;
  }
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li {
  margin: 40px;
  text-decoration: none;
  color: white !important;
}
/* css for active class */
.active {
  font-weight: bolder;
}
.logo-skills {
  width: 50%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;
}

.list-skills {
  list-style-type: circle;
}

.social {
  width: 50%;
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
  justify-content: space-between;
}


@media only screen and (max-width: 1024px) {
  .social {
    justify-content: center;
  }
  .logo-skills {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  nav {
    position: relative;
    width: 30%;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin-left: 0;
  
  }
 
  nav ul {
    margin: 0;
    width: 100%;
    height: 100%;
    padding-right: 50%;
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
    float: none;
  }
  .social {
justify-content: space-between;
   
  }
  .social-logo{
    width: auto;
    height: 65%;
  }
  .insta{
    width: auto;
    height: 3.8vh;

  }
  .App {
    display: flex;
    width: 100%;
    height: auto;
   
  }
  .logo-skills {

    flex-wrap: wrap;
    width: 50vw;
    height: auto;
  }
  .logo{
    width: auto;
    height:6vw;
  }

  h1 h2 h3 h4 {
    font-size: 0.8rem;
  }
  p {
    font-size: 1rem;
  }
  .profilepic {
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
  }


  .nav li {
    float: left;
  }

  .typingeffect {
   font-size: 1rem;
   font-weight: bold;
  float: right;
  }
  .link-education{
    text-decoration: none;
    padding: 5rem;
  }
  .condiv{
    width: 100vw;
    height: 100vh;
  
  }
  .pomodoro{
    width: 35vw;
    height: auto;
  }
  .link-project{
    float: right;
  }
}



