@import url("https://fonts.googleapis.com/css2?family=Lato&family=Saira:wght@500&display=swap");

:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
 /* background-color: rgb(0, 160, 176, 0.6);*/
 background-color: #f0eee9;

}
h1 {
  font-family: "Saira", sans-serif;
}
/* .condiv class is for the right side content container*/
.condiv {
 /* background-color: #f0eee9;*/
  margin: 10% 5% 10% 5%;
}
.condiv-home {
  margin: 5% 5% 5% 5%;
}
.typingeffect {
  font-size: 1.8rem;
  font-weight: bold;
  float: left;
  color: black;
}
nav {
  padding: 60px 30px 0px 30px;
  display: flex;
  text-decoration: none;
  font-family: "Saira", sans-serif;
  background-color: #f5df4d;
  height: 150vw;
  width: auto;

  z-index: 9;
}
nav ul li a {
  text-decoration: none;
  color: rgb(0, 160, 176);
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 160, 176) !important;
}
nav ul li {
  margin: 40px;
  text-decoration: none;
}
  /* css for active class */
.active {
  font-weight: bolder;
}

.widecard {
  margin: 6vw;
  text-decoration: none;
  text-align: center;
}

.logo-skills {
  width: 50vw;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.list-skills {
  list-style-image: url("./img/target.png");
  margin-left: 5vw;
}

.social {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
  top: 100vh;
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
}
.social-logo {
  width: auto;
  height: 15vh;
}
.insta {
  width: auto;
  height: 15vh;
}
.projects {
display: flex;
flex-direction:column;
  width: 20vw;
  height: auto;
  box-shadow: 0px 4px 12px #00589b;
  padding: 5vw;
  margin: 2vw;
}
.description{
  
  margin-bottom: 2vw;

}
.pomodoro {
  width: 18vw;
  height: auto;
}
.turlututu {
  width: 19vw;
  height: auto;
}
.condiv-contact {
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 200vh;
}
.contact-phone {
  width: auto;
  height: 80vw;
}
.subtopic {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 8%;
  color: white;
  width: 100vw;
}
.email {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 25%;
  color: white;
  width: 100%;
}
#profil {
  transform-origin: 50% 50%;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

.profilepic {
  animation: rotating 5s linear infinite;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 3;
}

@media only screen and (max-width: 1024px) {
  .social {
    justify-content: center;
  }
  .logo-skills {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  nav {
    position: relative;
    width: 30%;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin-left: 0;
  }
  .condiv-contact {
    display: flex;
    flex: nowrap;
    position: relative;
    width: 100%;
    height: 100%;
  }

  nav ul {
    margin: 0;
    width: 100%;
    height: 100%;
    padding-right: 50%;
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    float: none;
  }
  .social {
    justify-content: space-between;
    top: 88%;
 
  }
  .social-logo {
    width: auto;
    height: 100%;
  }
  .insta {
    width: auto;
    height: 3.8vh;
  }
  .App {
    display: flex;
    width: 100%;
    height: auto;
  }
  .logo-skills {
    flex-wrap: wrap;
    width: 50vw;
    height: auto;
    margin: 5vw;
  }
  .logo {
    width: auto;
    height: 8vw;
  }

  h1 h2 h3 h4 {
    font-size: 0.3rem;
  }
  p {
    font-size: 0.7rem;
  }
  .profilepic {
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .nav li {
    float: left;
  }

  .typingeffect {
    font-size: 1rem;
    font-weight: bold;
    float: right;
  }
  .link-education {
    text-decoration: none;
    padding: 5rem;
  }
  
  .pomodoro {
    width: 35vw;
    height: auto;
  }
  .ChicKebab{
    width: 40vw;
    height: auto;
  }
  .turlututu {
    width: 40vw;
    height: auto;
  }
  .hangman{
    width: 40vw;
    height: auto;
  }
  .virus{
    width: 40vw;
    height: auto;
  }
  .link-project {
    float: right;
  }
  .projects {
    flex-wrap: wrap;
      width: 40vw;
      height: auto;
      justify-content: space-between;
    }
}
